body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff; /* Couleur de fond du jeu */
	flex-direction: column; /* Pour empiler les éléments verticalement */
}

.title-container {
	margin-top: 20px; /*Espacement du haut*/
	text-align: center; /* Centrage horizontal */
	width: 100%; /* Largeur maximale */
}

h1 {
	font-size: 36px; /* Taille de la police */
	color: #333; /* Couleur du texte */
	font-family: Arial, sans-serif; /* Police de caractères */
}

.score-container {
	h2 {
		font-size: 15px; /* Taille de la police */
		color: #000000; /* Couleur du texte */
		font-family: Arial, sans-serif; /* Police de caractères */
	}
	canvas {
		border: 2px solid #a7fc83; /* Bordure blanche pour le canvas */
	}
	position: relative;
	text-align: center; /* Centrage horizontal */
	width: 600px; /* Largeur du terrain */
	height: 50px; /* Hauteur du terrain */
	/* background-color: #d5c730; Couleur de fond blanche pour le canvas */
	margin-top: 0px; /* Espacement du haut */
}

.winner-container {
	/* canvas { */
		/* border: 2px solid #01eaff; Bordure blanche pour le canvas */
	/* } */
	position: relative;
	text-align: center; /* Centrage horizontal */
	width: 600px; /* Largeur du terrain */
	height: 50px; /* Hauteur du terrain */
	/* background-color: #d5c730; Couleur de fond blanche pour le canvas */
	margin-top: 80px; /* Espacement du haut */
}

.round-container {
	/* canvas { */
		/* border: 2px solid #01eaff; Bordure blanche pour le canvas */
	/* } */
	position: relative;
	text-align: center; /* Centrage horizontal */
	width: 700px; /* Largeur du terrain */
	height: 50px; /* Hauteur du terrain */
	/* background-color: #d5c730; Couleur de fond blanche pour le canvas */
	margin-top: 160px; /* Espacement du haut */
}

.game-container {
	position: relative;
	width: 600px; /* Largeur du terrain */
	height: 400px; /* Hauteur du terrain */
	background-color: #286a16; /* Couleur de fond blanche pour le canvas */
	margin-top: 20px; /* Espacement du haut */
	canvas {
		border: 2px solid #f60e72; /* Bordure blanche pour le canvas */
	}
}
